<script>
    function make_request(method, url) {
        let form = document.createElement('form');
        form.setAttribute('method', method);
        form.setAttribute('action', document.location.origin + url);
        form.style.display = 'hidden';
        document.body.appendChild(form);
        form.submit();
    }
    const path = document.location.pathname;

    document.addEventListener('DOMContentLoaded', function (event) {
        let save = document.getElementById('save');
        let edit = document.getElementById('edit');
        let download = document.getElementById('download');

        if (path.includes('/edit')) {
            save.disabled = false;
            download.disabled = false;
        } else if (path.includes('/new') || path == '/') {
            save.disabled = true;
            edit.disabled = true;
            share.disabled = true;
            download.disabled = true;
        } else {
            edit.disabled = false;
            share.disabled = false;
            download.disabled = false;
        }
    });

    function copyURL() {
        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
            document.getElementById('share').addEventListener('click', function() {
              if(navigator.share) {
                navigator.share({
                    title: '</> CodeBin',
                    text: 'Check out this code.',
                    url: window.location.href
                })
                .then(() => console.log('Share complete'))
                .error((error) => console.error('Could not share at this time', error))
              }
            });
        } else {
            let Url = document.getElementById('url');
            Url.value = window.location.href;

            Url.select();
            Url.setSelectionRange(0, 99999);
            navigator.clipboard.writeText(Url.value);

            let share = document.getElementById('share');
            share.innerHTML = '<i class="fas fa-share-alt"></i> Copied';
        }
    }
    
</script>

<nav class="nav">
    <button id="logo" onclick="make_request('post','/');">
        <i class="fas fa-code"></i> CodeBin
    </button>

    <button id="new" class="menu" onclick="make_request('post','/new');">
        <i class="far fa-file"></i> New
    </button>

    <button
        disabled
        id="save"
        class="menu"
        type="submit"
        form="save-form"
        value="Submit"
    >
        <i class="far fa-save"></i> Save
    </button>

    <button
        disabled
        id="edit"
        class="menu"
        onclick="make_request('post','/edit'+path);"
    >
        <i class="far fa-edit"></i> Edit
    </button>

    <button disabled id="share" class="menu" onclick="copyURL();">
        <i class="fas fa-share-alt"></i> Share
    </button>
    <input type="text" id="url" style="display: none"></input>

    <button
        disabled
        id="download"
        class="menu"
        onclick="make_request('get','/download'+path);"
    >
        <i class="fas fa-download"></i> Download
    </button>
</nav>
