<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("_head.ejs") %>
    </head>
    <body>
        <%- include("_navbar.ejs") %>
        <div class="header">
            <h1>&lt;/&gt;</h1>
            <h1>Welcome to CodeBin</h1>
            <h6>share your codes easily!</h6>
        </div>
    </body>
</html>
