<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("_head.ejs") %>
    </head>
    <body>
        <%- include("_navbar.ejs") %>
        <form id="save-form" action="/save" method="POST">
            <div class="file-select">
                <label for="codeType">File type:</label>
                <select name="codeType">
                    <option value="plaintext">Text</option>
                    <option value="html">HTML</option>
                    <option value="css">CSS</option>
                    <option value="javascript">JavaScript</option>
                    <option value="python">Python</option>
                    <option value="c">C</option>
                    <option value="cpp">C++</option>
                    <option value="java">Java</option>
                </select>
            </div>

            <div class="wrapper" style="padding-top: 50px">
                <div class="line-numbers">&gt;</div>
                <textarea
                    autofocus
                    id="codes"
                    name="codeFile"
                    placeholder="write your code here"
                >
<%= locals.code %></textarea
                >
            </div>
        </form>
        <script>
            autosize(document.querySelector('textarea'));

            const textArea = document.getElementById('codes');
            textArea.addEventListener('input', () => {
                if (textArea.value != '') {
                    document.getElementById('save').disabled = false;
                } else {
                    document.getElementById('save').disabled = true;
                }
            });
        </script>
    </body>
</html>
