:root {
    --c0: #282c34;
    --c1: #424856;
    --c1: #5c6577;
    --c2: #788297;
    --c3: #ffffff;
}

body {
    background-color: var(--c0);
    font-family: monospace;
    margin: 0;
    position: relative;
}
#particles-js {
    z-index: 0;
}
canvas {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    visibility: visible;
}
/*Index page*/
.header {
    position: absolute;
    z-index: 2;
    margin-top: 45vh;
    right: 0;
    left: 0;

    text-align: center;
}

h1 {
    color: var(--c3);
    font-size: xx-large;
}
h6 {
    color: var(--c2);
    font-size: large;
}

/*Navbar*/
.nav {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--c1);
    opacity: 0.6;
    transition: opacity 200ms ease-in-out;
}
@media (max-width: 800px) {
    .nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: var(--c1);
        opacity: 0.6;
        transition: opacity 200ms ease-in-out;
    }
}

.nav:hover {
    opacity: 1;
}

.menu {
    text-align: center;
    width: 110px;
}

button {
    background-color: transparent;
    color: var(--c3);
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
}

button:hover {
    background-color: var(--c2);
}

button:disabled,
button[disabled] {
    background-color: transparent;
    color: var(--c2);
}

#logo {
    font-size: 1.5rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*File type*/
.file-select {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--c1);
    opacity: 0.6;
    transition: opacity 200ms ease-in-out;
    font-size: 1rem;
}

.file-select:hover {
    opacity: 1;
}

label {
    color: var(--c3);
}

select {
    background-color: var(--c1);
    color: var(--c3);
    cursor: pointer;
    font-size: 1rem;
    text-align: right;
}

/*Code Display*/
.wrapper {
    display: flex;
    padding: 1rem 0.5rem;
    font-size: 1rem;
}

.line-numbers {
    color: var(--c2);
    text-align: end;
}

#code-display {
    padding-top: 0;
    padding-bottom: 0;
}

pre {
    margin: 0;
}

textarea {
    background-color: transparent;
    resize: none;
    width: 100%;
    padding: 0;
    margin-left: 1rem;
    color: var(--c3);
    min-height: 90vh;
    border: none;
    outline: none;
}

::placeholder {
    color: var(--c2);
}
